//
//  Secrets.xcconfig
//  PersonalMusicHost
//
//  Created by TwentyMikeyOne on 24/6/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GOOGLE_CLIENT_ID = 86113541365-pc0jh7n9mkqh9uukcsov1b1fr73ff294.apps.googleusercontent.com
