<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86113541365-j0flsv3pfa4bo6b28di91cvlq2tq2d8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86113541365-j0flsv3pfa4bo6b28di91cvlq2tq2d8r</string>
	<key>API_KEY</key>
	<string>AIzaSyDLu_OWzUP2hPyI0mselwVimzhhznAQQvg</string>
	<key>GCM_SENDER_ID</key>
	<string>86113541365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rwd-studio.musicstreaming</string>
	<key>PROJECT_ID</key>
	<string>musicstreaming-m21rwd</string>
	<key>STORAGE_BUCKET</key>
	<string>musicstreaming-m21rwd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86113541365:ios:73d5721619c235a588f9bc</string>
</dict>
</plist>