<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.86113541365-j0flsv3pfa4bo6b28di91cvlq2tq2d8r</string>
			</array>
		</dict>
	</array>
	<key>DRIVE_ROOT_FOLDER_NAME</key>
	<string>$(DRIVE_ROOT_FOLDER_NAME)</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
</dict>
</plist>
