//
//  Secrets.xcconfig
//  PersonalMusicHost
//
//  Created by TwentyMikeyOne on 24/6/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GOOGLE_CLIENT_ID = 86113541365-j0flsv3pfa4bo6b28di91cvlq2tq2d8r.apps.googleusercontent.com
DRIVE_ROOT_FOLDER_NAME = music stream storage
